# 数据集（太大，不传）
trainA/
trainB/
datasets/
label_contest/

# yolov5 原版代码（从 GitHub 下载，不重复传）
yolov5-6.2/

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.ipynb_checkpoints/

# 训练输出（太大）
runs/
runs_yolo26/
# 虚拟环境
venv/
env/
.venv/

# IDE
.idea/
.vscode/

# 系统
.DS_Store
Thumbs.db

# 官方权重（放 models/ 里传自己的）
yolov5s.pt
yolov8s.pt
yolo26s.pt